@media screen and (max-width : 950px){
    header{
        padding: 0 !important;
    }
    .btn-container{
        align-self: center;
        align-content: center;
        justify-content: center;
    }
    .main-btn{
        align-self: center !important;
    }
    .theme-btn{
        width: 50px;
        height: 50px;
    }

    header .left-header{
        padding: 0 !important;
    }

    .header-content{
        grid-template-columns: repeat(1, 1fr);
        padding-bottom: 6rem;
    }

    .right-header{
        .header-shape{
            display: none;
        }
    }

    .left-header{
        grid-row: 1;
        padding-right: 0rem !important;
        width: 90%;
        margin: 0 auto;
        .name{
            font-size: 2.5rem !important;
            text-align: center;
            padding-top: 3rem;
        }
    }

    .header-content .right-header .image{
        margin: 0 auto;
        width: 90%;
        transform: translateX(0);
        
    }

     .controls{
        top: auto;
        bottom: 0;
        flex-direction: row;
        justify-content: center;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        background-color: var(--color-grey-5);
        .control{
            margin: 1rem .3rem;
        }}

        .main-title{
            align-content: center;
            justify-content: center;
            h2{
                text-align: center;
                font-size: 2rem;
                span{
                    font-size: 2rem;
                    text-align: center;
                }
                .bg-text{
                    font-size: 2.3rem;
                }
            }}

            .about-container{
                grid-template-columns: repeat(1, 1fr);
                .left-about{
                    padding-right: 0 !important;
                    width: 90%;
                    margin: 0 auto;
                    text-align: center !important;
                    p{
                        padding-top: 0 !important;
                        padding-bottom: 0 !important;
                        text-align: center;
                        margin-bottom: 2rem;
                    }
                    h4{
                        font-size: 1.75rem;
                    }
                }
                .right-about{
                    margin-top: 2rem;
                    h5{
                        font-size: 1.75rem;
                    }
                    .right-about-content{
                        grid-template-columns: repeat(1,1fr);
                        h6{
                            text-align: center;
                        }
                        .heading2{
                            grid-row: 3;
                        }
                        .heading4{
                            grid-row: 7;
                        }
                        .t-text{
                            text-align: center;
                        }
                    }
                }
            }
            
            .p-text{
                margin-top: 1rem;
            }
            .portfolios{
                grid-template-columns: repeat(1, 1fr);
                padding-bottom: 6rem;
                margin-top: 1rem;
                align-content: center;
                justify-content: center;
            }

            .contact-content-container{
                padding-bottom: 6rem;
                .contact-content{
                    .contact-item{
                        flex-direction: column;
                        margin-bottom: 0.5rem;
                    }
                    .contact-icon{
                        margin-bottom: 2rem;
                        align-content: center;
                        justify-content: center;
                    }
                }
            }
}